/* You can add global styles to this file, and also import other style files */

.avatar_edit{
    width: 60px;
    margin: 1rem 0;
    border-radius: 50%;
}

.avatar_mask{
    display: none;
}
.avatar_mobile{
    margin: auto;
    padding-right: 0.5rem;
}

.flex-avatar{
    display: flex;
    justify-content: space-between;
}

@media(min-width: 991px) {

    .avatar_mobile{
        display: none;
    }
    .avatar_mask{
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 900px;
        overflow: hidden;
    }
}

.avatar_mask img {
    height: 40px;
}
